*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    background-color: black;
}

header{
    width: 100%;
   
background-color: rgb(45, 45, 45);
display: flex;
flex-direction: column;

}
span{
    color:rgb(185, 1, 1);

}
h2{
    font-size: 2.2rem;
    color: rgb(251, 251, 251);
   
}
section{
    padding-top: 2rem;
    padding: left 3px;;
    padding: right 3px;;
    
}
nav{
    padding-top: 2rem;
    padding-left: 3px;
    padding-right: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   background-color: black;

}
nav ul li {
    list-style-type: none;
    display: inline-block;
    margin:0.5rem 1rem;

}
nav ul li a{
    color: rgb(253, 0, 0);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.5s;
}
nav ul li a:hover{
    color: rgb(251, 251, 251);
}
header nav  span{
    color:rgb(248, 250, 251);
    text-transform: uppercase;

}
header nav {
    text-transform: uppercase;
    color: #00ffff;; 
}
.me{
    background-color: 
   black;
    color: rgb(0, 255, 255);
    text-decoration: none;
    font-weight: bolder;
    border: 2px solid transparent ;
    padding: 0.8rem 1.87rem;
    border-radius: 30rem;
    transition: 1s;
}
.me:hover{
    background-color: transparent;
    border: 2px solid rgb(0, 255, 255);


}
.cancon{
    flex-grow: 1;
    margin-top: 50px;
    display: flex;
    align-items: center;
    border: 70px;
    justify-content: space-between;
   color: aliceblue;
   

   
}
.can{
    justify-content: space-between;

    
}

h1{
    font-size: 4.6rem;
    margin:2rem;
    
}h3{
    font-size: 1.7rem;
    margin:2rem;
    
}
h4{
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    margin:2rem;  
}
.social{
    margin-top: 3.5;
    display: flex;
   margin-left: 30px;

}
.social img{
    align-items: center;
 padding: 4px;
    width: 2.5rem;
    transition: 1s;
   
transition: 1s;
}
.social img:hover{
    transform: scale(1.2);

}

.lineimg{
    background-image: url(../img/cool.png);
    height: 700px;
    background-position: center ;
    background-size: cover;
    background-attachment: fixed;

margin-top: 50px;
}
.About-us{
    margin-top:50px;
  
    
}
.About-us h1{
  margin-left: 33%;
    align-items: center;
    display: block;
    text-align: center;
   
   
}

.allbox{
    display: flex;
    margin-bottom: 10px;

}
.box {
    display: flex;
    margin-bottom: 10px;
    background-color: rgb(33, 33, 33);
    margin: 50px;
    margin: auto;
    width: 380px;
	height: 420px;
	transform-origin: bottom right;
    border-radius: 20px;
	flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
}
.box:hover{
    background-color: rgb(39, 42, 42);
    border: 2px solid rgb(0, 255, 255);
}
.box a img{
   
    align-items: center bottom;
    margin: 30px auto;
    transition: 1s;

}
.box a img:hover{
    transform: scale(1.2);
}
.box p{
    align-items: center center;
    margin : 50px 0 50px 0 ;
    font-size: large;

}
.what{
    align-items: center;
    margin-top: 50px;
    
    
}
.what p{
    color: aliceblue;
    font-size: 30px;
    align-items: center;
    display: block;
    text-align: center;

}
.wrapper {
    position: relative ;
    max-width: 470px;
    width: 100%;
    border-radius: 12px;
    padding: 20px 30px ;
    background: rgb(22, 24, 24);
    box-shadow: 0 5px 10px rgb(0, 0, 0);
    overflow: hidden;
   margin-top: 50px;
   margin-left:33% ;
  }
  .wrapper:hover{
    background-color: black;
    border: 2px solid rgb(0, 255, 255);

  }
  .wrapper.active
    .form {
    bottom: -15%;
    border-radius: 35%;
    box-shadow: 0 -5px
      10px rgb(0, 0, 0);
  }
  .form  header {
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
  }
  .form header {
    color: rgb(0, 255, 255);
    opacity: 0.6;
  }
  
  .wrapper
    .signup
    header {
    opacity: 20;
  }
  .wrapper
    form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
  }
  
  form
    input {
    height: 60px;
    outline: none;
    border: none;
    padding: 0
      15px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    background: #fff;
  }
  .form
    input {
    border: 1px
      solid
      #aaa;
  }
  .form
    input:focus {
    box-shadow: 0
      1px 0
      #ddd;
  }
  form
    .checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .checkbox
    input[type="checkbox"] {
    height: 16px;
    width: 16px;
    accent-color: rgb(0, 255, 255);
    cursor: pointer;
  }
  form
    .checkbox
    label {
    
    color: rgb(0, 255, 255);
  }
  form a {
    color: rgb(0, 255, 255);
    text-decoration: none;
  }
  form
    a:hover {
    text-decoration: underline;
  }
  form
    input[type="submit"] {
    margin-top: 15px;
    padding: none;
    font-size: 18px;
    font-weight: 700;
    font-style: italic ;
    cursor: pointer;
    
 background: rgb(0, 255, 255);
 color: rgb(0, 0, 0);
border: none;
transition: 1s;
  }
  
  form
    input[type="submit"]:hover{
        background-color: black;
        border: 2px solid rgb(0, 255, 255);
        color: #fff;
    }   
     

.connect-us{
    margin-top:50px;
    text-align: center;
    color: aliceblue;
    
}
.connect-us h1{
    margin-bottom: 10px;
}

.allcard{
    display: flex;
    margin-bottom: 10px;

}
.card {
    display: flex;
    margin-bottom: 10px;
    background-color: rgb(33, 33, 33);
    margin: 50px;
    margin: auto;
    width: 380px;
	height: 420px;
	transform-origin: bottom right;
    border-radius: 20px;
	flex-direction: column;
    align-items: center;
}
.card:hover{
    background-color: transparent;
    border: 2px solid rgb(0, 255, 255);
}
.card a img{
   
    align-items: center bottom;
    margin: 30px auto;
    transition: 1s;

}
.card a img:hover{
    transform: scale(1.2);
}
.card p{
    align-items: center;
    margin: 50px auto;
    font-size: xx-large;

}



.footer {
    background-color:rgb(33, 33, 33);
    color: whitesmoke;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}


